* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.App-container {
    padding-top: 1.75rem;
    overflow: hidden;
}

@media (min-width: 1024px) {
    .App-container {
        padding-top: 1.25rem;
    }
}